body{
    background-image: url("https://i.pinimg.com/originals/8d/59/3d/8d593d1d158e6323170c9096caa3a79b.png");   
    font-family: 'Solway', serif;   
    color:black;
}
.output{
    color: crimson;
}
.mma{
    color: blue;
}
.test{
color: #9d00ff;
}
.bottom_div{
    width: 1000px;
font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    border: 2px 2px dashed black;
}
img {  
    width: 100px;  
    height: 300px;  
    }  
    